
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
  --mdc-filled-text-field-caret-color: #ffffff;
  --mdc-filled-text-field-focus-active-indicator-color: #ffffff;
  --mdc-filled-text-field-focus-label-text-color: rgb(255, 255, 255);
   --mdc-filled-text-field-container-color: #673ab7;
  --mdc-filled-text-field-disabled-container-color: #fafafa;
  --mdc-filled-text-field-label-text-color: rgb(255, 255, 255);
  --mdc-filled-text-field-disabled-label-text-color: rgb(255, 255, 255);
  --mdc-filled-text-field-input-text-color: rgb(255, 255, 255);
  --mdc-filled-text-field-disabled-input-text-color: rgb(255, 255, 255);
  --mdc-filled-text-field-input-text-placeholder-color:rgba(255, 255, 255, 0.6);
  --mdc-filled-text-field-error-focus-label-text-color: #f44336;
  --mdc-filled-text-field-error-label-text-color: #f44336;
  --mdc-filled-text-field-error-caret-color: #f44336;
  --mdc-filled-text-field-active-indicator-color: rgb(255, 255, 255);
  --mdc-filled-text-field-disabled-active-indicator-color: rgb(255, 255, 255);
  --mdc-filled-text-field-hover-active-indicator-color: rgba(255, 255, 255, 0.87);
  --mdc-filled-text-field-error-active-indicator-color: #f44336;
  --mdc-filled-text-field-error-focus-active-indicator-color: #f44336;
  --mdc-filled-text-field-error-hover-active-indicator-color: #f44336;
  --mdc-outlined-text-field-caret-color: #ffffff;
  --mdc-outlined-text-field-focus-outline-color: #ffffff;
  --mdc-outlined-text-field-focus-label-text-color: rgb(255, 255, 255);
  --mdc-outlined-text-field-label-text-color: rgb(255, 255, 255);
  --mdc-outlined-text-field-disabled-label-text-color: rgba(0, 0, 0, 0.38);
  --mdc-outlined-text-field-input-text-color: rgb(253, 253, 253);
  --mdc-outlined-text-field-disabled-input-text-color: rgba(0, 0, 0, 0.38);
  --mdc-outlined-text-field-input-text-placeholder-color: rgb(255, 255, 255);
  --mdc-outlined-text-field-error-caret-color: #f44336;
  --mdc-outlined-text-field-error-focus-label-text-color: #f44336;
  --mdc-outlined-text-field-error-label-text-color: #f44336;
  --mdc-outlined-text-field-outline-color: rgba(0, 0, 0, 0.38);
  --mdc-outlined-text-field-disabled-outline-color: rgba(0, 0, 0, 0.06);
  --mdc-outlined-text-field-hover-outline-color: rgba(0, 0, 0, 0.87);
  --mdc-outlined-text-field-error-focus-outline-color: #f44336;
  --mdc-outlined-text-field-error-hover-outline-color: #f44336;
  --mdc-outlined-text-field-error-outline-color: #f44336;
  --mat-form-field-disabled-input-text-placeholder-color: rgba(0, 0, 0, 0.38);
}
html {
  --mat-select-panel-background-color: white;
  --mat-select-enabled-trigger-text-color: rgba(0, 0, 0, 0.87);
  --mat-select-disabled-trigger-text-color: rgba(0, 0, 0, 0.38);
  --mat-select-placeholder-text-color: rgb(255, 255, 255);
  --mat-select-enabled-arrow-color: rgb(255, 255, 255);
  --mat-select-disabled-arrow-color: rgba(0, 0, 0, 0.38);
  --mat-select-focused-arrow-color: rgb(255, 255, 255);
  --mat-select-invalid-arrow-color: rgba(244, 67, 54, 0.87);
}
.in-progress{
  background-color: #673ab7;
  color: white;
  padding: 0px;
  border-radius: 10px;
  width: fit-content;
}
.done{
  background-color: rgba(130, 216, 0, 0.785);
  color: white;
  padding: 7px;
  border-radius: 10px;
}
