<section class="my-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-4 col-md-6" *ngFor="let task of allTasks">
        <div class="card h-100 w-100">
          <div class="content h-100 w-100">
            <p class="heading">{{task.title}}</p>
            <div class="d-flex flex-column para">
              <p>
                {{task.description.split(' ').splice(0,18).join(' ')}}
               </p>

               <div class="d-flex flex-column">
                <span><i class="fa-regular fa-clock"></i> {{task.deadline}}</span>
                <span><i class="fa-solid fa-rotate"></i> {{(task.status)}}</span>
               </div>
               <div class="footer d-flex justify-content-between align-items-center">
                <button class="green-btn" (click)="complete(task)">Complete</button>
                <span role="button" [routerLink]="['/detailes',task._id]" mat-button matTooltip="Click For More" matTooltipPosition="before"><i class="fa-solid fa-circle-info "></i></span>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <pagination-controls  id="task"
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      [responsive]="true"
                      [autoHide]="true"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
    </div>
  </div>
</section>

